.container__box {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-image: url(./../../assets/img/icon/bg.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.card__text {
    font-size: 10px;
}

.card__img {
    margin: auto;
}

